torch==2.1.2
tensorboard
pillow
torchvision --index-url https://download.pytorch.org/whl/cu121
torchaudio --index-url https://download.pytorch.org/whl/cu121
bitsandbytes --prefer-binary --extra-index-url=https://jllllll.github.io/bitsandbytes-windows-webui
transformers==4.34.0
peft==0.8.2
trl==0.8.6
datasets==2.14.5